@import '../../styles/utility.scss';

.list-container {
  background: #f9fdff;
  border-radius: 10px;
  margin: 10px 0 20px !important;
  font-family: $avenir-font-family;
  padding: 10px;

  &-grid {
    padding: 16px;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 0 !important;

    .description-panel {
      padding-bottom: 0 !important;
    }

    .rating-panel {
      padding: 0 13px !important;
    }

    .know-more {
      &-panel {
        padding-top: 0px !important;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .services__heading {
          justify-self: flex-start;
        }

        .schedule-now {
          &__button {
            &--width {
              width: 152px;
            }
          }
        }
      }

      &__link {
        grid-column-start: span 3;
      }
    }
  }

  &__rating-container {
    margin-top: 10px !important;
    padding: 0 8px !important;
  }
}
.float-right {
  float: right;
}
.common-button {
  border-radius: 3px;
  border: none;
  padding: 8px;
  margin-right: 10px;
}
.common-button:focus {
  outline: none;
}
.verified-color {
  background-color: #00bf78;
  color: #fff;
}
.available-color {
  background-color: $badge-green;
  color: $black;
  text-transform: uppercase;
  font-weight: bolder;
}
.top-service-color {
  background-color: #e39a9a;
  color: #fff;
}
.book-now-btn {
  background-color: $brand-orange;
  color: $fontColor;
  padding: 15px;
  font-weight: bold;
  min-width: 150px;
  display: inline-block;
  font-size: 15px;
  font-family: $playfair-font-family;
  text-transform: uppercase;
}
.text-underline {
  text-decoration: underline;
}
.details-link {
  color: #555;
  text-decoration: none;
  font-size: 14px;
}
.center-div {
  margin: 0 auto;
}
.list-container h3 img {
  vertical-align: middle;
}
.cursor-pointer {
  cursor: pointer;
}
.text-underline {
  text-decoration: underline;
}
.offest-margin-right-10 {
  margin-right: 10px;
}
.text-header-container {
  display: flex;
  align-items: center;
  img {
    align-self: center;
    margin-right: 10px;
  }
}
.address-text-image {
  display: flex;
  align-items: flex-start;
}
