.list-container {
  background: #f9fdff;
  border-radius: 10px;
  margin: 10px 0 20px !important;
}
.float-right {
  float: right;
}
.common-button {
  border-radius: 3px;
  border: none;
  padding: 8px;
  margin-right: 10px;
}
.common-button:focus {
  outline: none;
}
.verified-color {
  background-color: #00bf78;
  color: #fff;
}
.available-color {
  background-color: #9ac4e3;
  color: #fff;
}
.top-service-color {
  background-color: #e39a9a;
  color: #fff;
}
.book-now-btn {
  background-color: #eeff00;
  border-radius: 22px 13px 15px 0;
  color: #555;
  padding: 15px;
  font-weight: bold;
  min-width: 150px;
}
.text-underline {
  text-decoration: underline;
}
.details-link {
  color: #555;
  text-decoration: none;
  font-size: 14px;
}
.center-div {
  margin: 0 auto;
}
.list-container h3 img {
  vertical-align: middle;
}
.cursor-pointer {
  cursor: pointer;
}
.text-underline {
  text-decoration: underline;
}
.offest-margin-right-10 {
  margin-right: 10px;
}
.text-header-container {
  display: flex;
  align-items: center;
  img {
    align-self: center;
    margin-right: 10px;
  }
}
.address-text-image {
  display: flex;
  align-items: flex-start;
}
