@import "../../styles/utility.scss";

header {
  background: #fff;
  position: fixed;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  padding: 5px;
  z-index: 100;

  &.box-effect {
    -webkit-box-shadow: 0 7px 6px -6px black;
    -moz-box-shadow: 0 7px 6px -6px black;
    box-shadow: 0 7px 6px -6px black;
  }

  .logo-container {
    position: relative;
    margin: 6px 0px 7px 0;
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;

    @media screen and (max-width: 650px) {
      margin: 0;
    }

    img {
      width: 200px;
      height: 60px;
      object-fit: contain;
      object-position: 50% 50%;
      margin-left: 10px;
    }
  }

  .fancy-header-mobile {
    display: none;
  }

  .nav-container {
    .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      width: 873px;
      height: 50px;
      margin: 14px 0 12px calc((100% - 1070px) * 0.5);
      left: 108px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;

      .list {
        list-style: none;
        font-family: $avenir-font-family;
        font-size: 14px;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow: visible;
        position: absolute;

        li {
          width: 89px;
          height: 50px;
          position: relative;
          box-sizing: border-box;
          overflow: visible;
          visibility: inherit;
          text-align: center;
          display: inline-block;

          a {
            display: inline-block;
            height: 100%;
            width: 100%;
            cursor: pointer;
            text-decoration: none;
            color: $fontColor;

            &:hover {
              color: $hoverColor;
            }
          }
        }

        li:nth-child(2) {
          width: 187px;
        }
        li:nth-child(3) {
          width: 134px;
        }
        li:nth-child(3) {
          width: 104px;
        }
        li:nth-child(3) {
          width: 92px;
        }
        li:nth-child(3) {
          width: 113px;
        }
        li:nth-child(3) {
          width: 154px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  header {
    img {
      width: 120px !important;
    }
  }
  header .nav-container .nav-list {
    margin: 0;
  }
  .nav-container {
    .nav-list {
      .list {
        margin-top: 25px;
        li {
          width: auto !important;
          padding: 3px;
          a {
            display: inline-block;
            height: 100%;
            width: 100%;
            cursor: pointer;
            text-decoration: none;
            color: $fontColor;

            &:hover {
              color: $hoverColor;
            }
          }
        }

        li:nth-child(2) {
          width: auto !important;
        }
        li:nth-child(3) {
          width: auto !important;
        }
        li:nth-child(3) {
          width: auto !important;
        }
        li:nth-child(3) {
          width: auto !important;
        }
        li:nth-child(3) {
          width: auto !important;
        }
        li:nth-child(3) {
          width: auto !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    img {
      width: 200px !important;
    }
  }
}
