@import '../../styles/utility.scss';

.details-image-container {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    width: 140px;
    border: 1px solid #555;
    border-radius: 10px;
    margin: 0 5px 30px;
    padding: 5px;
    text-align: center;

    img {
      filter: grayscale(100%);
      opacity: 0.8;
    }
    .image-caption {
      text-align: center;
      padding-top: 10px;
      font-weight: bold;
      color: #555;
      font-size: 12px;
    }

    .not-available {
      img {
        filter: opacity(0.5);
      }
      .image-caption {
        color: #878686;
      }
    }
  }
}

.description-panel p span,
.description-panel div span {
  font-weight: bold;
  color: rgb(54, 109, 140);
  padding-right: 5px;
}

.description-panel div button span {
  color: #fff;
}

.offset-padding-left-5 {
  padding-left: 5px;
}
.image-container img {
  width: 100%;
  border-radius: 10px;
}
.share-icons svg {
  margin-right: 5px;
}
.icons-conatner {
  .material-icons {
    margin-right: 10px;
    font-size: 32px;
    color: #555;
  }

  a {
    color: #555;
    text-decoration: none;
  }
}
.text-header {
  color: #366d8c;
}
.review-container {
  margin-bottom: 20px;
}

.details-container {
  .back-search {
    &__button {
      &--brand-button {
        background-color: $brand-blue;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  %details-actions-button {
    align-self: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin-right: 0;
    font-size: 16px !important;
    font-family: $avenir-font-family;
  }
  .details {
    &-container {
      .action {
        &-container {
          position: fixed;
          background: white;
          width: 100%;
          bottom: -16px;
          height: 67px;
          display: grid;
          justify-items: center;
          align-items: center;
          grid-template-columns: 1fr 1fr;
          z-index: 1;
          -webkit-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
          left: 0;
        }
        &__share {
          &--button {
            @extend %details-actions-button;
            font-size: 15px;
            padding: 23px;
            background-color: $white;
            color: $black;
          }
        }
        &__direction {
          &--button {
            @extend %details-actions-button;
          }
        }
      }
    }
  }
}
