// variables

$fontColor: #2f2e2e;
$hoverColor: #24495d;
$brand-blue: #366d8c;
$brand-orange: #eea44d;
$light-grey: #bcbbbc;
$white: #fff;
$badge-green: #4ced7c;
$black: #000;

// fonts
$avenir-font-family: AvenirLight;
$playfair-font-family: PlayFairDisplayBold;
