// variables

$fontColor: #2f2e2e;
$hoverColor: #24495d;
$brand-blue: #366d8c;
$brand-orange: #eea44d;
$light-grey: #bcbbbc;
$white: #fff;
$badge-green: #4ced7c;
$black: #000;

// fonts
$avenir-font-family: AvenirLight;
$playfair-font-family: PlayFairDisplayBold;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
