@import '../../styles/utility.scss';

.back-search {
  &__button {
    &--brand-button {
      background-color: $white;
      color: $brand-blue !important;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
