header {
  background: #fff;
}
.logo {
  width: 150px;
}
.header-top {
  background: yellow;
  flex-grow: 1;
  padding: 10px;
  font-weight: bold;
  width: 100%;
}
.header-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
