@import '../../styles/utility.scss';

.landscape-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $brand-orange;
  color: $white;
  font-family: $playfair-font-family;
  font-size: 24px;
  text-align: center;
  flex-flow: column;

  p {
    margin: 0;
  }
}
