* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

body {
  background: #ced6dc !important;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 10rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
  padding: 10px;
}
main {
  grid-area: main;
  background: #e6ebef;
}
footer {
  grid-area: footer;
  background-color: rgb(54, 109, 140);
  color: #fff;
  font-size: 10px;
}

/* common styles */

.btn-dark a {
  color: #fff !important;
}
a:hover {
  text-decoration: none !important;
}
.align-text-center {
  justify-content: center;
  align-items: center;
}
.link-btn {
  color: #555 !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.no-wrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.leaflet-container {
  width: 100%;
  height: 50vh;
}
.text-transform-captilize {
  text-transform: capitalize;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.map-holder {
  height: calc(100% - 150px) !important;
}

@media only screen and (max-width: 600px) {
  .footer-list {
    padding: 20x;
  }
  .input-footer {
    width: 230px;
    height: 30px;
  }
}
